.btn {
	color: $text-color;
	display: inline-block;
	font-size: 18px;
	text-transform: capitalize;
	padding: 14px 53px;
	border: 1px solid $text-color;
	border-radius: 32px;
	margin-top: 30px;
	&:hover {
		background-color: #fff;
		color: $text-color;
		transition: 0.3s;
		text-decoration: none;
		border: 1px solid #fff;
		box-shadow: 1px 1px 36px 2px rgba(0, 0, 0, 0.3);
	}
}